@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(rgba(0,0,0,0.5),#000000),url("/hero-bg.gif");
    background-size: cover;
    background-position: center;
}

.bg-select {
    background: linear-gradient(128deg, rgba(255,0,0,1) 0%, rgba(205,216,116,1) 100%);  
}